h1 {
  text-align: center;
  color: hsl(182, 65%, 55%);
}

#github {
  margin-top: -5px;
}

#ImageSet{
  width: fit-content;
}

.text-large{
  font-size: 1.5rem;
}

.papan {
  margin: auto;
}

.baris {
  text-align: center;
}

.kartu {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #cfc8c8;
  
  height: 150px;
  width: 150px;
  display: inline-block;
  margin: 2px 2px;
  cursor: pointer;
  
  transition: all 200ms linear;
}

.kartu:hover {
  box-shadow: inset 0px 0px 0px 2px red;
  box-sizing: border-box;
}

.done {
  cursor: default;
}

/* akhir class nama */

.color-hidden {
  background-image: url("../img/cover-penta.jpg") !important;
}